
.button {
  width: 95%;
  background-color: #04fff7;
  font-size:18px;
  color: #062f42;
  border-radius: 8px;
  border-color: #062f42;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2.5%;
}

.button:hover {
  background-color: #ff05ac;
}


.flex li {
  color: #04fff7;
  font-size: 2vh;
  font-family: "oswald";
}

.flex ul {
  columns: 2;
  width: 90%;
  text-align: left;
}

.textbox {
  height:38vh;
  color: white;
  border: 2px solid #062f42;
  padding:0.5rem;
  font-size:1.95vh;
  animation: entrance 3s;
  background-color: #062f42;
}

.textbox h4{
  font-size: 2.5vh;
}

.flex li::marker {
  color: #04fff7;
  height: 50px;
}

.loader {
  animation: loader-exit 2s forwards;
  animation-delay: 1s;
}

@keyframes loader-exit {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }
  to {
    opacity: 0;
    transform: translateY(10rem);
  }
}

@keyframes entrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 550px) {

  .flex h2 {
    font-size: 10px;
    word-wrap: normal;
  }

  .flex p {
    font-size: 12px;
  }
  .flex li {
    font-size: 15px;
  }
  .flex ul {
    width: 100%;
    margin-left: -20px;
  }
  .textbox {
    text-align: left;
    border: 2px dashed #29001b;
  }

}
