.image {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

.video {
    width: 100%;
    height:fit-content;
    align-self: center;
}

.link {
    color: #7f0565;
    font-family: 'Oswald';font-size: 18px;
    text-decoration-color: #05386B;
    text-align: center;
    bottom: 0;
    font-weight: 100;
}