.content {
    align-items: left;
    min-height: 100%;
}

.right-box {
    border-left: 0.5px solid lightgray;
    padding-left: 1rem;
}

.left-box {
    padding-right: 1rem;
}

.link {
    font-size: 18px;
    text-align: center;
}

.linkDiv {
    border-radius: 50px;
    background-color: #04fff7;
}

@keyframes swipe {
    from { width: 0 }
    to { width: 100% }
}

@media (max-width:550px) {
    .link {
        font-size: 12px;
    }

}


