.title {
    font-family: 'Oswald';font-size: 22px;
    font-weight: 100;
    color: #05386B;
    text-align: center;
}

.content {
    align-items: left;
    min-height: 100%;
}


.right-box {
    border-left: 1.5px solid #05386B;
    padding-left: 1rem;
}

.image {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

@keyframes swipe {
    from { width: 0 }
    to { width: 100% }
}


