.content {
    align-items: left;
    min-height: 100%;
}

.right-box {
    border-left: 1.5px solid #05386B;
    padding-left: 1rem;
}

.link {
    font-size: 18px;
}

@keyframes swipe {
    from { width: 0 }
    to { width: 100% }
}

@media (max-width:550px) {
    .link {
        font-size: 12px;
    }

}


