.container {
    width: 100%;
    border-radius: 8px; 
}

.tech {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

.tech h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #08415C;
}

.tech img {
    width: 90%;
    align-self: center;

}