.image {
    width: 100%;
    height:fit-content;
    object-fit: cover;
    padding-top: 0rem;
}

.video {
    width: 100%;
    height:fit-content;
    align-self: center;
}

.link {
    color: #7f0565;
    font-family: 'Oswald';font-size: 18px;
    text-decoration-color: #05386B;
    text-align: center;
    bottom: 0;
    font-weight: 100;
}